#main-tcgarena:hover {
  cursor: pointer;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#home-page p {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

#home-page a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration-color: blueviolet
}

#home-page-features p {
  display: flex;
  flex-direction: column;
  margin-left: 3vw; 
}

#home-page-features h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mini-window-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.mini-window-buttons button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
  width: 45%;
  border-radius: 4px;
}
.mini-window-buttons button:active {
  background-color: rgb(172, 165, 165);
  cursor: pointer;
  outline: none;
}
.mini-window-buttons button:hover {
  cursor: pointer;
}

#lobby-judge-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: solid 2px rgb(194, 188, 188);
  border-left: solid 2px rgb(194, 188, 188);
  border-right: solid 2px rgb(194, 188, 188);
  background-color: rgb(197, 197, 197); */
}

#lobby-judge-panel button {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
#lobby-judge-panel button:active {
  background-color: rgb(172, 165, 165);
  outline: none;
}
#lobby-judge-panel button:hover {
  cursor: pointer;
}

#profile-anchor {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

.decks-list {
  position: fixed;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.decks-menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.decks-menu-main button {
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
  width: 50%;
  outline: none;
  border: solid black 1px;
} 

.decks-menu-main button:active {
  background-color: rgb(172, 165, 165);
  outline: none;
} 

.decks-menu-main button:hover {
  cursor: pointer;
} 

.new-deck-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%
}
.new-deck-form select {
  font-size: 16px;
}

.deck-field {
  height: 500px;
  resize: none;
  font-size: 14px;
}

.deck-name-field {
  font-size: 18px;
}

.edit-user-role-form {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
}

.cockatrice-name-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#lobby-navbar {
  display: flex;
  flex-direction: column;
}

.lobby-navbar-selected {
  background-color: rgb(221, 221, 221);
  color: black;
  margin: 1px;
}

#lobby-navbar-options,
#lobby-navbar-formats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.lobby-navbar-item {
  border: 1px solid black;
  margin: 1px;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px;
}
.lobby-navbar-item:hover {
  cursor: pointer;
}

#navbar-main {
  width: 100%;
  height: 30px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

.nav-active {
  border-bottom: 1px solid gray;
}

.center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
}

.decklist-text p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.decklist-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 167px;
  width: 300px;
  /* left: -200px; */
  min-height: 56px;
  border: solid black 1px;
  border-radius: 4px;
  background-color: rgb(236, 230, 230);
  padding: 4px;
  font-size: 18px;
}

.decklist-preview p {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-self: flex-start;
}

.decklist-preview h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.deck-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 60px;
  padding: 2px;
  margin: 0;
  border: solid 1px black;
  border-radius: 4px;
  align-content: center;
  font-size: 18px;
}
.deck-item-container p {
  margin: 0;
  padding: 0;
  align-self: center;
}

.deck-item-buttons {
  display: flex;
  margin: 0;
  flex-direction: row
}
.deck-item-buttons button {
  font-size: 12px;
  width: 80px;
  padding: 0;
}
.deck-item button {
  width: 5px;
}

.small-button {
  width: 80px;
}

.deck-item-container:hover {
  background-color: rgb(236, 230, 230);
}

#mini-list-container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: rgb(211, 206, 206);
  border-radius: 4px;
}

#mini-list-container p {
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: center;
}

.mini-window-container {
  display: flex;
  border: solid 2px rgb(194, 188, 188);
  background-color: rgb(240, 234, 234);
  padding: 5px;
  margin: 8px;
  border-radius: 4px;
}

.mini-window-container div {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.mini-window-container div p {
  margin: 2px;
}

a {
  text-decoration: none;
  color: gray;
  transition: color 0.5s ease;
  margin: 0 5px;
}

.mini-participants {
  margin-bottom: 20px;
}

.hosted-by {
  font-size: 12px;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}
.thead {
  display: table-header-group;
  color: white;
  font-weight: bold;
  background-color: grey;
}
.tbody {
  display: table-row-group;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
  border: 1px solid black;
  padding: 1px;
}
.tr.editing .td input {
  width: 100px;
}
